services:
  rpc:
    image: luvx/rpc_service:latest
    container_name: rpc_service
    networks:
      - net_common
    build:
      dockerfile: Dockerfile
      args:
        - CR=registry.cn-shanghai.aliyuncs.com/luvx
    ports:
      - "18888:18888"
    volumes:
      - $HOME/data:/root/data

networks:
  net_common:
    external: true
