on:
  push:
    branches: [ main ]
    paths:
      - 'coding-common/**'
      - 'infra/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'coding-common/**'
      - 'infra/**'

name: Test
permissions:
  contents: read
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.25]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: 安装Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: 安装staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest
        shell: bash
      - name: 更新PATH
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash
      - name: 检出代码
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Fmt
        if: matrix.platform != 'windows-latest' # :(
        run: "diff <(gofmt -d .) <(printf '')"
        shell: bash
      - name: Vet
        run: |
          cd coding-common && go vet ./...
      - name: Staticcheck
        run: |
          cd coding-common && staticcheck ./...
      - name: Test
        run: |
          cd coding-common && go test -race ./...
      - name: Benchmark
        run: |
          cd coding-common && go test -count=1 -bench=. -benchtime=3s -benchmem -run=^$ ./...