services:
  app:
    image: luvx/go_app:latest
    # container_name: go_app
    networks:
      - net_common
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - CR=registry.cn-shanghai.aliyuncs.com/luvx
    ports:
      - "58090:8090"
    volumes:
      - $HOME/data:/root/data
      - ./config/config-dev.yml:/app/config/config-dev.yml
    environment:
      TZ: Asia/Shanghai
      APP_PORT: ":8090"
      APP_HOST_NAME: "mini.rx"
      APP_PROXY: "host.docker.internal:7890"
      passwordStr: ${passwordStr}
      ImgHost: img.rx
#    command: ["sleep", "infinity"]

  # nginx:
  #   image: nginx:1-alpine
  #   container_name: nginx
  #   networks:
  #     - net_common
  #   ports:
  #     - "58090:80"
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/nginx.conf

networks:
  net_common:
    external: true
